<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/pagicad.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Aluno</title>
  </head>
  <body>
    <main>
      <div class="container">
        <h1 class="tituloa">Formulário de Aluno</h1>

        <form action='{{#if aluno.id}}/alunos/{{aluno.id}}/atualizar{{else}}/alunos/novo{{/if}}' method='POST'>

          <label for="nomeAluno">Nome:</label>
          <input
            type="text"
            id="nomeAluno"
            name="nomeAluno"
            value="{{aluno.nomeAluno}}"
          />
          <label for="idadeAluno">Idade:</label>
          <input
            type="number"
            id="idadeAluno"
            name="idadeAluno"
            value="{{aluno.idadeAluno}}"
          />
          <label for="emailAluno">Email:</label>
          <input
            type="email"
            id="emailAluno"
            name="emailAluno"
            value="{{aluno.emailAluno}}"
          />
          <label for="matriculaPersonal">Personal Trainer:</label>
          <select id="matriculaPersonal" name="matriculaPersonal">
            {{#each personais}}
              <option value="{{this.matricula}}">{{this.nome}}</option>
            {{/each}}
          </select>

          <button type="submit">Enviar</button>
          <a href="/"><button type="button" class="voltar">Voltar à Página
              Inicial</button></a>
        </form>
      </div>
    </main>
  </body>
</html>